
/* search */
.search_form{
    background-color: #f6faff;
    padding: 5px 15px;
    font-size: 12px;
}
.search_cell{
    display: inline-block;
}
.search_form .search_label{
    line-height: 30px;
    font-family: 'Microsoft YaHei';
}
.search_form .search_input{
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    margin-right: 5px;
    padding: 5px;
    transition: all 375ms;
}
.search_form .search_input_lang{
    width: 150px;
}
.search_input:hover,
.search_input:checked{
    border: 1px solid #cccccc;
}
.search_form .layui-btn{
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    /* background-color: #337ab7;
    border-color: #2e6da4; */
}
.search_form .tx_type{
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
}
.search_form .tx_type option{
    height: 30px;
    line-height: 30px;
}


#thumbnailUploadContainer{
    clear: both;
}
.poImportBox{
    padding: 20px 0;
}
.poImportBox i{
    color: #78c3f3;
    float: left;
}
.poFile{
    position: relative;  
    display: block;  
    background: #fbfbfb;  
    border: 1px solid #009688;  
    border-radius: 4px;  
    padding: 4px 12px;  
    overflow: hidden;  
    color: #009688;  
    text-decoration: none;  
    text-indent: 0;  
    line-height: 20px;
    float: left;
    margin-right: 10px;
    font-size: 12px;
}
#articleImageFile{
    position: absolute;  
    font-size: 100px;  
    right: 0;  
    top: 0;  
    opacity: 0;  
    cursor: pointer;
}
#articleImageFile:hover{
    background: #fbfbfb;  
    border-color: #009688;  
    color: #009688;  
    text-decoration: none; 
}
#saveZipButton{
    display: block;
    border: none;
    border-radius: 2px;
    background-color: #009688;
    color: #fff;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    float: left;
}